*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ font-size: 62.5%;}
/* header*/
header{
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    label{
        display: none;
        width: 40px;
        height: 40px;
        
    }
    label:hover{
        cursor: pointer;
        background-color:rgba(0, 0, 0, 0.3)
    }
    #btn-menu{
        display: none;
    }
    .header__nav ul{
        background-color:#185a9d;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        font-family: 'Poppins', sans-serif;
        li{
            list-style-type: none;
            a{
                text-decoration:none;
                font-size: 250%;
                color: white;
                transition: 0.4s;
                padding: 0 10px;
                    &:hover {
                        color:#ffcb3a;
                        padding: 11px 10px;
                    }
                
            }
        }
    }   
}
body{
    background-color: #c7e8e8!important;
    strong{
        font-size: 150%;
    }
    
}

/* footer */
footer {
    background-color: #79b4d6;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
    strong{
        font-size: 250%;
    }
    li{
        font-size: 200%;
        list-style-type: none;
    }
    .section__footer{
        display: flex;
        justify-content:space-evenly;
        padding: 5% 0;
        .footer__contacto, .footer__secciones, .footer__redes{
            text-align: center;
        }
        .footer__secciones ul li a{
            text-decoration:none;
            color: black;
        }
    }
}



