@media (max-width: 600px){
    header{
        .header__nav ul{
            flex-direction: column;
        }
    }



    .body__encabezado{
        background-image: none;
        background-color: #c7e8e8;
        height: 30vh;
        img{
            width: 350px;
        }
        .section__efecto:hover{
            width: 300px;
        }
        p{
            width: 80%;
        }
    }
    .section__p{
        display: flex;
        flex-direction: column;
    }
    .section__menu{
        width: 80% !important;   
    }
    .section_reserva{
        background-image: none;
        justify-content: center;
        height: 400px;
        padding-bottom: 5%;
        .reserva__info{
            height: 200px;
            width: 80%;
    
        }
    }
    .section__contacto{
        flex-direction: column;
        height: 600px;
        align-items: center;
        .contacto__info{
            width: 80%;
            padding-bottom: 5%;
            
        }
    }
    footer {
        background-color: #79b4d6 !important;
        height: 100%;
    }
    .section__footer{
        flex-direction: column;
    }
}