@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
@import "generales";
@import "index";
@import "menu";
@import "galeria";
@import "reservas";
@import "contacto";
@import "error404";
@import "mediaquery";


/* mobile y tablet*/
@media (max-width: 600px) {
  .navegacionPrincipal{
      display: inline-block;
  }
    .navegacionPrincipal ul{
        background-color:#033649;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        
    }
    .menuContenedor {
        display: flex;
        flex-direction: column;
        padding: 5% 0 5% 5%;       
    }
    .divTexto{
        width: 95%;
        font-size: 200%;
        padding:5%;
    }
    .div1{
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 200%;
        padding: 0 1% 0 1%;
    }   
    footer {
        background-color: wheat;
        height: auto;
    }
    .sectionPrueba{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        padding: 5% 0;
    }
  }
  @media (max-width: 480px) {
  body{
      font-size: 70%;     
  }
  .prueba { /*revisar*/
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px 30px 40px;
    display: flex;
    margin: 15vh;
    left: 10vh;
    font-size: 250%;
    font-family:'Dancing Script';   
}
  .navegacionPrincipal ul{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacionPrincipal ul li a{
    text-decoration:none;
    font-size: 250%;
    color:black;
}
.div1{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    padding: 0 1% 0 1%;
}
}

@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
     .close{
         top:20px;
         right: 20px;
     }
}